a {
    color: #02a6f2;
}

a:hover, a:focus {
    color: #3d8fee;
}

.navbar ul.nav > li > a {
    text-decoration: none;
}

#top {
    background: #757575;
}

#top .social a {
    color: #ccc;
}

#top .social a:hover {
    background: #02a6f2;
}

#footer {
    background: #3d8fee;
    color: #fff;
}

#footer .blog-entries .item {
    border-bottom: solid 1px #ccc;
}

#copyright {
    background: #02a6f2;
    color: #eee;
}

#copyright a {
    color: #eee;
}

.img-responsive {
    border-radius: 5px;
}

.btn-template-main {
    color: #02a6f2;
    border-color: #02a6f2;
}

.btn-template-main:hover, .btn-template-main:focus, .btn-template-main:active, .btn-template-main.active {
    background: #02a6f2;
    border-color: #02a6f2;
}

.btn-template-transparent-primary:hover, .btn-template-transparent-primary:focus, .btn-template-transparent-primary:active, .btn-template-transparent-primary.active {
    color: #02a6f2;
}

.home-carousel .dark-mask {
    background: #02a6f2;
}

.box-image-text .top .bg {
    background: #02a6f2;
}

.heading h1, .heading h2, .heading h3, .heading h4, .heading h5 {
    border-bottom-color: #02a6f2;
}

.navbar ul.nav > li > a:hover {
    border-top-color: #02a6f2;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #45d3ff7f;
}

.navbar ul.nav > li.active > a, .navbar ul.nav > li.open > a {
    border-top-color: #3d8fee;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #02a6f2;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #02a6f2;
}

.pager li > a, .pager li > span {
    border-color: #02a6f2;
}

.pager li > a:hover, .pager li > a:focus {
    background-color: #02a6f2;
}

.panel.sidebar-menu .panel-heading h1, .panel.sidebar-menu .panel-heading h2, .panel.sidebar-menu .panel-heading h3, .panel.sidebar-menu .panel-heading h4, .panel.sidebar-menu .panel-heading h5 {
    border-bottom-color: #02a6f2;
}

.panel.sidebar-menu ul.tag-cloud li a {
    color: #02a6f2;
}

.panel.sidebar-menu ul.tag-cloud li a:hover {
    color: #02a6f2;
    border-color: #02a6f2;
}

#blog-listing-medium .post .date-comments a:hover {
    color: #02a6f2;
}

.form-control:focus {
    border-color: #02a6f2;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #02a6f296;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #02a6f296;
}
